<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/styles/navbar_and_footer.css" />
    <link rel="stylesheet" href="../static/styles/login_signup.css" />
    <link rel="stylesheet" href="../static/styles/attraction.css" />
</head>
<body>
    <div style="width:1200px; ">
        <div class="navbar">
            <div class="title-left">
                <p id="titleLeftFont">台北一日遊</p>
            </div>
            <div class="title-right">
                <p class="order">預定行程</p>
                <p class="login-btn">登錄/註冊</p>  
            </div>          
        </div> 
    </div>

    <div class="darker">
    </div>

    <div class="login">
        <div class="login-inner">
            <div class="login-content">
                <div class="login-title">
                    <p>登入會員帳號</p>
                    <img class="login-close" src="../static/images/icon_close.png"/>
                </div>
                <div class="login-input">
                    <input type="text" id="loginEmail" placeholder="輸入電子信箱"/>
                    <input type="password" id = "loginPassword" placeholder="輸入密碼"/>
                    <input id = "clickToLogin" type="submit" name="submit" value="登入帳號">
                    <p class="login-error-msg"></p>
                    <a class="signup-btn">還沒有帳戶?點此註冊</a>
                </div>
            </div>
        </div>

    </div>

    <div class="signup">
        <div class="signup-inner">
            <div class="signup-content">
                <div class="signup-title">
                    <p>註冊會員帳號</p>
                    <img class="signup-close" src="../static/images/icon_close.png"/>
                </div>
                <div class="signup-input" >
                    <input type="text" id="name" placeholder="輸入姓名" />
                    <input type="text" id = "email" placeholder="輸入電子郵件" />
                    <input type="password" id = "password" placeholder="輸入密碼" />
                    <input id ="clickToSignup" type="submit" name="SB" value="註冊新帳戶">
                 
                    <p class="error-msg"></p>
                  
                    <a class="had-login-btn">已經有帳戶了?點此登入</a>
                </div >
            </div>
        </div>

    </div>



    
    <div class="content">
        <div class="content-left">
            <img src = "../static/images/btn_leftArrow.png" class="arrow-left" />
            <img src = "../static/images/btn_rightArrow.png" class="arrow-right" />
            <div class="dot-btn">
            </div>
        </div>

        <div class="content-right">
            <p class="title"></p>
            <p class="category"></p>
            <div class="reserve">
                <p style="padding-bottom:15px;">訂購預覽行程</p>
                <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <div class="datetime">
                    <p>選擇日期 :&nbsp;&nbsp;</p>
                    <input class="date" type="date" /> 
                </div> 
                <div class="time-order">
                    
                    <input class="datetime-input" type="radio" id="datetime-1" name = "datetime" checked/>
                    <input class="datetime-input" type="radio" id="datetime-2" name = "datetime"/>
                    
                    <div class="datetime-visible">
                        <p >選擇時間 :&nbsp;&nbsp;</p>
                        <label class="select-time-morning" for="datetime-1"></label>
                        <p>上半天</p>
                        <label class="select-time-afternoon" for="datetime-2"></label>
                        <p>下半天</p>
                    </div>
                </div>  
                <div class="cost">
                    <p >導覽費用 :&nbsp;&nbsp;</p>
                    <p class="cost-number">2000元</p>
                </div>
                <div class="reserve-btn">
                    <p class="order-btn">開始預約行程</p>
                </div>
            </div>
        </div>

    </div>


    <div class="booking-message">
        <div>
            <p class="booking-message-font">新增成功</p>
            <p class="booking-message-btn">OK</p>
        </div>
    </div>

    <hr />
    <div class="description">
        <p class="description-font"></p>
        <div class="address">景點地址:</div>
        <p class="address-name">aljflasdf</p>
        <div class="address">交通方式:</div>
        <p class="transport"></p>
    </div>    

    <div class="bottom">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
    <script type="module" src="../static/scripts/loginSignup.js"></script>
    <script type="module" src="../static/scripts/attraction.js"></script>
        
    
   
</body>
</html>