{% extends "navbar.html" %}

{% block title %}歷史訂單{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/styles/navbar_and_footer.css" />
<link rel="stylesheet" href="../static/styles/login_signup.css" />
<link rel="stylesheet" href="../static/styles/history_order.css" />
{% endblock %}


{% block main %}
<div class="content">
</div>
<img class="order_history_empty" src="static/images/order_history_empty.png"/>
{% endblock %}


{% block script %}
<script type="module" src="../static/scripts/loginSignup.js"></script>
<script type="module" src="../static/scripts/history_order.js"></script>
{% endblock %}