<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/navbarAndFooter.css" />
    <link rel="stylesheet" href="../static/styles/loginSignup.css" />
    <link rel="stylesheet" href="../static/styles/index.css" />

</head>
<body>
    <div class="navbar-father">
        <div class="navbar">
            <div class="title-left">
                <p id="titleLeftFont">台北一日遊</p>
            </div>
            <div class="title-right">
                <p>預定行程</p>
                <p class="login-btn">登錄/註冊</p>  
            </div>          
        </div> 
    </div>
    <div class="title-pc">
        <img src="../static/images/welcome.png"/> 
    </div>

    <div class="darker">
    </div>

    <div class="login">
        <div class="login-inner">
            <div class="login-content">
                <div class="login-title">
                    <p>登入會員帳號</p>
                    <img class="login-close" src="../static/images/icon_close.png"/>
                </div>
                <div class="login-input">
                    <input type="text" id="loginEmail" placeholder="輸入電子信箱"/>
                    <input type="password" id = "loginPassword" placeholder="輸入密碼"/>
                    <input id = "clickToLogin" type="submit" name="submit" value="登入帳號">
                    <p class="login-error-msg"></p>
                    <a class="signup-btn">還沒有帳戶?點此註冊</a>
                </div>
            </div>
        </div>

    </div>

    <div class="signup">
        <div class="signup-inner">
            <div class="signup-content">
                <div class="signup-title">
                    <p>註冊會員帳號</p>
                    <img class="signup-close" src="../static/images/icon_close.png"/>
                </div>
                <div class="signup-input" >
                    <input type="text" id="name" placeholder="輸入姓名" />
                    <input type="text" id = "email" placeholder="輸入電子郵件" />
                    <input type="password" id = "password" placeholder="輸入密碼" />
                    <input id ="clickToSignup" type="submit" name="SB" value="註冊新帳戶">
                 
                    <p class="error-msg"></p>
                  
                    <a class="had-login-btn">已經有帳戶了?點此登入</a>
                </div >
            </div>
        </div>

    </div>


    <div class="pc-101">
        <div class="pc-101-inner">
            <p style="font-size:28px;">輕鬆享受台北一日悠閒</p>
            <p style="font-size:16px;">探索每個角落，體驗城市的深度旅遊行程</p>
            
            <div class="search-pc">
                <input id="title-input" class="title-input"  type="text" placeholder="輸入景點名稱查詢"/>
                <div class="icon-search-bg" id="icon-search-bg">
                    <img class="icon-search" src="../static/images/icon_search.png"  />
                </div>
            
                <div class="categories" id ="categories" >
                </div>
            </div>
        </div>
    </div>
    
    <div class="content" id="content"> 
        <!-- <div class="child" id ="child">
            <img class="content-pc" src=""/>
            <p class="title-font"></p>  
            <div class = "content-baby">
                <p class="left-p" id=""></p>
                <p class="right-p"></p>
            </div>
        </div> -->
    </div>
    <p class="message">無此資料</p>
    <div class="bottom">
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
   
    <script type="module" src="../static/scripts/loginSignup.js"></script>
    <script type="module" src="../static/scripts/index.js"></script>
    
    
</body>
</html>
